<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<body>
    <div layout:fragment="content" th:remove="tag">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Register page</h1>
                <form autocomplete="off" action="#" th:action="@{/register}"
                      th:object="${user}" method="post" class="m-t" role="form"
                      data-toggle="validator">

                    <div th:if="${confirmationMessage}" class="alert alert-success"
                         role="alert" th:text=${confirmationMessage}></div>

                    <div th:if="${alreadyRegisteredMessage}" class="alert alert-error"
                         role="alert" th:text=${alreadyRegisteredMessage}></div>

                    <div th:if="${#fields.hasErrors('firstName')}"
                         th:errors="*{firstName}"
                         class="validation-message alert alert-danger" role="alert"></div>

                    <div th:if="${#fields.hasErrors('lastName')}"
                         th:errors="*{lastName}"
                         class="validation-message alert alert-danger" role="alert"></div>

                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                         class="validation-message alert alert-danger" role="alert"></div>

                    <div class="form-group">
                        <label th:if="${#fields.hasErrors('firstName')}"
                               th:errors="*{firstName}" class="validation-message"></label>
                        <label>firstName</label>:
                        <input type="text" th:field="*{firstName}"
                               placeholder="First Name" class="form-control" required />
                        <span class="glyphicon form-control-feedback"
                              aria-hidden="true"></span>
                    </div>

                    <div class="form-group">
                        <label>lastName</label>:
                        <input type="text" th:field="*{lastName}"
                               placeholder="Last Name" class="form-control" required />
                        <span class="glyphicon form-control-feedback"
                              aria-hidden="true"></span>
                    </div>

                    <div class="form-group">
                        <label>email</label>:
                        <input type="email" th:field="*{email}"
                               placeholder="Email Address" class="form-control"
                               data-error="This email address is invalid" required />
                        <span class="glyphicon form-control-feedback"
                              aria-hidden="true"></span>

                    </div>
                    <div class="form-group">
                        <label>password</label>:
                        <input type="password" th:field="*{password}"
                               placeholder="password" class="form-control"
                               data-error="This password is invalid" required />
                        <span class="glyphicon form-control-feedback"
                              aria-hidden="true"></span>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit"
                                       name="register-submit"
                                       id="register-submit"
                                       class="form-control btn btn-info"
                                       value="Register">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <a href="/login">if you are a member go to login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>